.dummy {
    color: black;
}
.slds-table th {
    text-align: center;
}

.slds-table td {
    text-align: center;
}

/* .column-one {
    width: 10vw; 
}

.column-two {
    width: 10vw; 
}

.column-three {
    width: 70%; 
}

.column-four {
    width: 10vw; 
} */