.dummy{
	color : black;
}
.dx-chk-h .slds-form-element__control .slds-checkbox {
    display: inline-block;
}
.table-container {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto;
}