@import url('DxCPQ__dexcpqstyles');
c-cart-setup .c-container { height: calc(100% - 0px); margin-top:0px; }
.dxcappcontainernor{ height:calc(100vh - 90px);}
.dxcappcontainernor .dxcappcontainer2nor{ height:calc(100vh - 180px);}
.dxcappcontainermax .dxcappcontainer2nor{ height:calc(100vh - 90px);}
.contentmain_base_innertab{ display:table; width:100%; margin-top:0px; height:100%; background: #fefefe; }
.contentmain_base_innertab2{ display:table; width:100%; margin-top:0px; height:100%; background: #fefefe; }
.contentcenter_cart { height: 100%; width: auto; position: relative; transition: all .5s; display: table-cell; /* padding: 0 5px 0px; */}
.contentcenter_cart2 { height:100%; width: auto; position: relative; transition: all .5s; display:block; /*overflow-y: auto;*/ /* padding: 0 5px 0px; */}
.contentcenter_cart_sec { height:calc(100% - 45px); width: auto; position: relative; transition: all .5s; padding:0px 0px 0px 0px; overflow-y: auto; background:rgb(249, 249, 249); }
app_flexipage-header[app_flexipage-lwcAppFlexipageDecorator_lwcAppFlexipageDecorator] { margin-bottom: 0px!important; }
[app_flexipage-header_header-host] { display: none!important; }

.dx-height_100p .slds-tabs_default  { height: 100%; }
.dx-height_calc100-75 {height: calc(100% - 75px); }

.dx-input_cart_height input { min-height:1.5rem; line-height:1.5rem; }
.dxt .slds-table_cell-buffer tr>th:first-child, .dxt .slds-table_cell-buffer tr>td:last-child { padding:0.25rem 0.5rem !important;}
.dxt .slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover>th:not(.slds-has-focus), .dxt .slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover>td:not(.slds-has-focus) {box-shadow: none;}

.dx-slide_product { padding:0px;border-radius:5px 5px 5px 5px; overflow: hidden; background:rgb(247,247,247,.5); border-color: #dddddd; transition: all 0.3s; }
.dx-slide_product:hover { transform: scale(1.05); background:rgb(247,247,247,.5); border-color: #dcdcdc; box-shadow: 0px 0px 5px rgba(0,0,0,0.15);}
.dx-slide_product.active { transform: scale(1); background:#f2efce; border-color: #e4dd97; box-shadow: 0px 0px 3px rgba(0,0,0,0.1);}
.dx-slide_product .dx-img_holder {width:100%; max-width:100%; height:150px; background:#f1f1f1;}
.dx-slide_product .dx-img_holder .dx-img {width:100%; max-width:100%; height:100%; max-height:150px}

@media (min-width: 30em){
    .dxt .slds-region_narrow .slds-dl_horizontal .slds-dl_horizontal__label, .dxt .slds-dl_horizontal__label, .dxt .slds-dl--horizontal__label { width:100%; }
    .dxt .slds-region_narrow .slds-dl_horizontal .slds-dl_horizontal__detail, .dxt .slds-dl_horizontal__detail, .dxt .slds-dl--horizontal__detail { width:100%; margin-bottom: 5px; }
    }
/* .slide .slide_btn_action .slds-icon-text-default, .slide h2 .icon_cart .slds-icon-text-default { fill:#ffffff!important; } */

.dx-card_header_search_l {border-radius: 0px; margin:0px 0px 0px 0px; position: relative; width: 100%; /*width: calc(100% - 506px);*/z-index: 6;padding-right: 25px!important;}
.dx-card_header_search {border-radius: 0px; margin:0px 0px 0px -14px; position: relative; width: calc(100% + 0px); /*width: calc(100% - 506px);*/z-index:0; padding-left:30px!important;}
.sidenavright .dx-card_cartleft+.dx-card_cartleft { margin-top:1px; }
.sidenavright .dx-card_cartleft {/*min-height:31%; height:49.7%;*/overflow:hidden; border-width: 0px;}
.sidenavright .dx-card_cartleft .dx-slide_product:hover { transform: scale(1);}

.dx-rpg-w_fix .dx-box.slds-box {margin-right: 0px; margin-left:0px; }

.slide h2 .icon_cart .slds-icon-text-default { fill: var(--lwc-brandPrimary)!important; }
.slide h2 .icon_cart .slds-icon-text-default:hover { fill:var(--lwc-brandPrimaryActive)!important; }

.leftsidebar-menu li{ position:relative; margin:0; padding:0;  text-decoration:none; }
.leftsidebar-menu li a .type{ display:inline-block; max-width:100%; }
.leftsidebar-menu li a .rightarrow{ display:none; transition:all .5s; }
.leftsidebar-menu li a{ padding:6px 5px 0px 8px; display:block; position:relative; color:#333; margin-right:14px; border-left:3px solid transparent; text-decoration:none; transition:all .3s; /*border-top:1px solid rgba(225,225,225,0.2); border-bottom:1px solid rgba(0,0,0,0.15);*/background:rgba(0,0,0,0); box-shadow:0px 0px 0.75px rgb(0, 0, 0, .4);min-height: 31px; }
/* .leftsidebar-menu li:hover a{ color:#444; background:var(--lwc-brandLightActive);  margin-right:14px; border-left:3px solid #be1e2d; } */
.leftsidebar-menu li:hover a:before{content:''; width:20px; height:20px; position:absolute; background:transparent; top:6px; right:3px; transform:rotate(45deg); z-index:9; transition:all .3s;}
.leftsidebar-menu li:hover a:before{ background:var(--lwc-brandLightActive); right:-7px;}

.leftsidebar-menu li.active a{ padding:6px 5px 0px 8px; display:block; position:relative; color:#fff; background:var(--lwc-brandPrimaryActive); margin-right:14px; border-left:3px solid #be1e2d; text-decoration:none; transition:all .3s; }
.leftsidebar-menu li a:before{content:''; width:20px; height:20px; position:absolute; background:transparent; top:6px; right:3px; transform:rotate(45deg); z-index:9; transition:all .3s;}
.leftsidebar-menu li.active a:before{ background:var(--lwc-brandPrimaryActive); right:-7px;}
.dx-configbutton button {font-size:13px; padding:3px 15px; margin-top: -3px; line-height: 13px; --slds-c-button-color-border:transparent;}
.dx-minmaxicon_fcp .slds-button__icon_left {margin:0px;}
 li:hover a .rightarrow{ display:none; float:right; margin-top:4px; }
 li.active a .rightarrow{ display:none; float:right; margin-top:4px; }
 .dx-box .slds-table_tree tr th[aria-label="Image"] { width:68px; }
 /*
 .dx-box .slds-table_tree tr th { width:30%; }
 .dx-box .slds-table_tree tr th[aria-label="Description"] { width:50%; }
 */
.sidenavright {z-index: 2;}
.dx-leftmenuocbut_res { position:absolute; top:0px; right:-27px; display:inline-block; background:var(--lwc-brandPrimaryTransparent10); border: 1px solid var(--lwc-brandPrimaryTransparent40); border-radius: 0px 3px 3px 0px; padding:3px 3px 3px 13px; margin-top: 5px;z-index:1; }
.dx-rightmenuocbut_res { position:absolute; top:0px; left:-32px; display:inline-block; background:var(--lwc-brandPrimaryTransparent10); border: 1px solid var(--lwc-brandPrimaryTransparent40); border-radius: 3px 0px 0px 3px; padding: 3px; margin-top: 5px; }

.slide .slds-carousel__autoplay {display:none;}

.slide .slds-carousel__content { position: absolute; background:rgba(0,0,0,0.05); bottom:49px; width:100%;height:auto;padding: 5px 0.75rem 25px;color:#333333!important; text-shadow:0 0 5px rgba(255,255,255,1) }
.slide .slds-carousel__indicators { position: absolute; bottom:47px;}
.slide .slds-carousel__indicator-action {width: 10px; height: 10px; border-radius: 3px; }
.slide.slide_active .slds-carousel__content { display:none }
.slide.slide_active .slds-carousel__indicators { display:none }

.slide .slds-carousel__panel-action {border:0px !important; display:block; height:100%; width:100%;}
.slide lightning-carousel,
.slide lightning-carousel .slds-carousel,
.slide lightning-carousel .slds-carousel .slds-carousel__stage,
.slide lightning-carousel .slds-carousel .slds-carousel__stage .slds-carousel__panels {height:100%;}

.dxconfig_carousel .slds-carousel__panel-action {border:0px !important; display:block; height:100%; width:100%; padding-bottom:30px;}
.dxconfig_carousel lightning-carousel,
.dxconfig_carousel lightning-carousel .slds-carousel,
.dxconfig_carousel lightning-carousel .slds-carousel .slds-carousel__stage,
.dxconfig_carousel lightning-carousel .slds-carousel .slds-carousel__stage .slds-carousel__panels {height:100%;}
                                                                                
.dxconfig_carousel .slds-carousel__autoplay {display:none;}
.dxconfig_carousel .slds-carousel__content { position: absolute; background:rgba(0,0,0,0.05); bottom:0px; width:100%;height:auto;padding: 5px 0.75rem 25px; color:#333333!important; text-shadow:0 0 5px rgba(255,255,255,1) }
.dxconfig_carousel .slds-carousel__indicators { position: absolute; bottom:-5px;}
.dxconfig_carousel .slds-carousel__indicator-action {width: 10px; height: 10px; border-radius: 3px; }

@media (max-width: 991.98px) {

    .dxt { padding: 0px; margin:0px; width: calc(100% + 0px); height: calc(100% + 0px); }
    .dxcappcontainernor .pagetitle {display:none; }
    .dxcappcontainernor .dx-tabs_01 .slds-tabs_default__content { height:calc(100vh - 95px); padding-top:3px; background:#f9f9f9; }
    .dxcappcontainernor {height: calc(100vh - 0px);padding-top:7px;}
    .dx-box .slds-table thead tr th, .dx-box .slds-table_tree tr th { min-width:60px; }

    .sidenavleft_close, .sidenavleft_min, .sidenavleft_open, .sidenavleft_over, .sidenavright_close, .sidenavright_min, .sidenavright_open, .sidenavright_over {
        height: 100%; position: absolute; transition: all .5s; display: block; z-index:9;
    }
    .sidenavleft_open { left:-200px; }
    .sidenavleft_close .sidenavleft { margin-left:0px; width: 200px; }
    .sidenavleft{background: linear-gradient(to right, var(--lwc-brandPrimaryTransparent10) 0%,var(--lwc-brandPrimaryTransparent10) 92.5%,var(--lwc-brandPrimaryTransparent10) 92.5%, #d6dee0 93%, #f9f9f900 93%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--lwc-brandPrimaryTransparent10)', endColorstr='#f9f9f900',GradientType=1 );
    }
    .sidenavright_open { width:0; /*right:-300px;*/ }
    .sidenavright_open .sidenavright { width: 0; display: none !important; }
    .sidenavleft_close { width:200px; z-index:9; background:linear-gradient(to right, #ffffff 0%,#ffffff 92.5%,#ffffff 92.5%, #d6dee000 93%, #f9f9f900 93%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f900',GradientType=1 ); left:0; }
    .sidenavright_close { width:300px; z-index:9; background: #ffffff; right:0; }
    .sidenavright_close .sidenavright { margin-right: 0; width: 300px; right: 0; border-left: 1px solid var(--lwc-brandPrimaryTransparent40); }
    .dxrecommendcartmax {margin: 0px 6px 0px 6px;}
    /*.sidenavright_open .sidenavright { margin-right: -300px; right: -300px; }*/
    /* .dx-leftmenuocbut_res { right:-30px; display:inline-block; }
    .dx-rightmenuocbut_res { left:-30px; display:inline-block; } */

}
